* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.mask {
	position: fixed;
	left: 22px;
	bottom: 22px;
	width: calc(100% - 44px);
	height: calc(100% - 136px);
	box-shadow: 0 0 0 2px #fff, 0 0 0 22px transparent;
	border-radius: 5px;
}

.header {
	margin: 0 auto -114px;
	padding: 20px 0 20px 0;
	text-align: center;
	color: #fff;
	border-top: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.header h1 {
	font-size: 2.5em;
}

.header p {
	font-size: 1.5em;
}

.scroll {
	width: 100%;
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	position: relative;
}

.scroll .mCSB_container {
	display: flex;
}

.scroll .img {
	flex-shrink: 0;
	z-index: -10;
}

.section-2 {
	
}

.block {
	background-color: rgb(72, 72, 72);
	color: #fff;
	padding: 10px;
	width: 500px;
	height: 300px;
	position: absolute;
	z-index: -1;
}

.block-1 {
	left: 500px;
	top: 150px;
}

.block-2 {
	left: 2000px;
	top: 350px;
}

.block-3 {
	left: 3500px;
	top: 500px;
}

.block-4 {
	left: 5000px;
	top: 700px;
}

.block-5 {
	left: 6000px;
	top: 400px;
}

.footer {
	margin-right: 50px;
	margin-top: -50px;
	color: #fff;
	text-align: right;
}

#mCSB_1_scrollbar_horizontal {
	margin-left: 0;
	margin-right: 0;
}